* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

@keyframes girar {
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 100%;
    }
}

@keyframes louder {
    0%{
        font-size: 100px;
        color: lime;
        text-shadow: 0 0 100px;
    }

    50%{
        font-size: 150px;
        color: limegreen;
        text-shadow: 0px 0px 100px;
    }

    100%{
        font-size: 100px;
        color: aliceblue;
        text-shadow: 0px 0px 100px;
    }
}

@keyframes mover-carrusel {
    0%{
       transform: translate(0%);
    }

    10%{
        transform: translate(0%);
    }

    20%{
        transform: translate(-150%);
    }

    30%{
        transform: translate(-150%);
    }

    40%{
        transform: translate(150%)
    }

    50%{
        transform: translate(150%);
    }

    70% {
        transform: translate(-150%);
    }

    100% {
        transform: translate(0%);
    }
       
}