.louder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 160vh;
    font-size: 100px;
    background: linear-gradient(90deg, violet, green, rgb(247, 4, 247), black);
    background-size: 400% 400%;
    animation: girar 10s ease-in-out infinite;
    animation: louder 2s ease-in-out infinite;
    position: absolute;
    font-family:"Anton", sans-serif; 
}

.container-listItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top:0;
    width: 100%;
    height: 160vh;
    background: linear-gradient(90deg, violet, green, rgb(247, 4, 247), black);
    background-size: 400% 400%;
    animation: girar 10s ease-in-out infinite;

    h2 {
        display: flex;
        justify-content: center;
        padding-left: 300px;
        padding-top: 30px;
        width: 100%;
        color: aliceblue;
        font-family: "Anton", sans-serif;
        font-size: 50px;
    }

    .container-carruselAuto {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        overflow: hidden;
        gap: 400px;
        padding-left: 300px;

        .tarjet-carrusel{
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(90deg,green,lime,green);
            min-width: 900px;
            height: 500px;
            border-radius: 50px;
            overflow: hidden;
            gap: 20px;
            padding: 20px;
            animation-name: mover-carrusel;
            animation-duration: 40s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            box-shadow: 0 0 100px;
            figure {
                display: flex;
                width: 400px;
                height: 400px;
                overflow: hidden;
                border-radius: 30px;
                img{
                    width: 100%;
                }
            }

            .container-textButton{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 50%;
                height: 85%;
                background: linear-gradient(180deg,rgba(128, 128, 128, 0.63),rgba(255, 255, 255, 0.719));
                overflow: hidden;
                border-radius: 20px;
                gap: 30px;
                box-shadow: 0 0 10px 5px;
                p{
                    font-family: "Anton", sans-serif ;
                    font-size: 20px;
                    padding: 20px;
                    border-radius: 10px;
                }
                button {
                    background-color: black;
                    font-family:"Anton", sans-serif  ;
                    color: aliceblue;
                    font-size: 20px;
                    width: 150px;
                    height:50px;
                    border-radius: 30px;
                    border: none;
                    cursor: pointer;
                    &:hover {
                        box-shadow: 0 0 100px 30px;
                        color: black;
                        text-shadow: 0px 0px 50px black;
                        background: linear-gradient(lime,green,lime);
                    }
                }
            }
        }
    }

}

.items-varios {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
    background: linear-gradient(360deg,rgba(0, 255, 0, 0.603),rgba(0, 0, 0, 0.781),rgba(0, 255, 0, 0.534));
    z-index: 0;
    gap: 30px;
    padding-left: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
    
    .container-items{
        display: flex;
        position: relative;
        transition: 2s;
    }

    .container-flechas{
        display: flex;
        justify-content: space-between;
        width: 150vh;
        height: 100px;
        position: absolute;
        z-index: 1;

        .flecha-der {
            display: flex;
            min-width: 100px;
            height: 100px;
            cursor: pointer;
            &:hover{
                zoom: 1.2;
            }
            img {
                display: flex;
                width: 100%;
                height: 100%;
                border-radius: 100%;
                background: linear-gradient(180deg,rgba(0, 128, 0, 0.589),rgba(255, 255, 255, 0.678),rgba(0, 255, 0, 0.63));
                &:hover {
                    box-shadow: 0 0 100px 10px;
                }
            }
        }
        .flecha-izq {
            display: flex;
            min-width: 100px;
            height: 100px;
            cursor: pointer;
            &:hover{
                zoom: 1.2;
            }
            img {
                display: flex;
                width: 100%;
                height: 100%;
                border-radius: 100%;
                background: linear-gradient(180deg,rgba(0, 128, 0, 0.589),rgba(255, 255, 255, 0.678),rgba(0, 255, 0, 0.63));
                &:hover {
                    box-shadow: 0 0 100px 10px;
                }
            }
        }
    }

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(90deg,lime,green,lime);
        min-width: 400px;
        height: 450px;
        margin: 20px;
        border-radius: 20px;
        position: relative;
        cursor: pointer;
        text-decoration: none;
        &:hover{
            zoom: 1.1;
            box-shadow: 0 0 30px 20px green;
        }
        
        .link-detail{
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }

        h2{
            display: flex;
            width: 100%;
            justify-content: center;
            font-family: "Anton", sans-serif;
            font-size: 30px;
            color: aliceblue;
            padding: 5px;
        }

        figure{
            background: linear-gradient(180deg,black,lime,black);
            display: flex;
            width: 230px;
            height: 230px;
            overflow: hidden;
            border-radius: 20px;
            img {
                width: 100%;
                height: 100%;
            }
        }

        p{
            font-family: "Anton", sans-serif;
            margin: 10px;
            color: aliceblue; 
        }

        button {
            font-family: "Anton", sans-serif;
            font-size: 16px;
            width: 150px;
            height: 40px;
            border: none;
            margin-top: 10px;
            margin-bottom: 20px;
            cursor: pointer;
            border-radius: 20px;
            &:hover {
                color: green;
                text-shadow: 0 0 10px;
                box-shadow: 0 0 10px 10px greenyellow;
                background-color: black;
                zoom: 1.3;
            }
        }
    }
}