.contenedor-navbar { 
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 160vh;
    position: relative;
    background: linear-gradient(90deg, green, black);
    gap: 20px;
    z-index: 1;
    padding-bottom: 50px;
    .container-logo {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        img {
            width: 200px;
            margin: 10px;
        }

        h1 {
            display: flex;
            justify-content: center;
            position: absolute;
            height: 100%;
            align-items: center;
            padding-left: 40px;
            font-family:"Anton", sans-serif;
            color: aliceblue;
            letter-spacing: 5px;
        }
    }

    .container-estructuraCarYSpan{
        display: flex;
        justify-content: center;
        padding: 1px;
        width: 100%;
        height: 10%;
        
        .container-carrito{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            border-radius: 40px;
            &:hover {
                background: linear-gradient(90deg,lime,violet);
                box-shadow: 0 0 100px 10px;
              }
        }
        
        img{
          display: flex;
          position: relative;
          justify-content: center;
          padding: 2px;
          width: 100px;
          height: 100px;
          border-radius: 5px;
          display: flex;
          color: aliceblue;
          cursor: pointer;
        }

        span{
            display: flex;
            align-items: end;
            height: 100px;
            justify-content: center;
            text-align: center;
            color: aliceblue;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }
    
    

    .container-links {
        ul{
            display: flex;
            flex-direction: column;
            gap: 100px;
            margin-top: 100px;
            li{
                list-style: none;
            }
            a{  
                display: flex;
                align-items: center;
                height: 50px;
                padding-left: 20px;
                font-size: 35px;
                text-decoration: none;
                font-family: Arial, Helvetica, sans-serif;
                color: aliceblue;
                cursor: pointer;
                &:hover {
                    color: coral;
                    text-shadow: 0 10px 20px black;
                    zoom: 1.1;
                }
            }
        }
    }

}