.main-shorts{
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, violet, green, rgb(247, 4, 247), black);
    background-size: 400% 400%;
    animation: girar 10s ease-in-out infinite;
    
    .tituloShorts{
        padding-bottom: 40px;
        padding-right: 300px;
    }
}